* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  background-color: #ddd;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #313131;
  margin-top: 30px;
}

.header {
  background-color: #2e2c2c;
  ul {
    display: flex;
    li {
      a {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: #eee;
        text-decoration: none;
      }
    }
  }
}

.popular {
  width: 1200px;
  margin: 0 auto;
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .popular-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0;
    a {
      width: calc(25% - 10px);
      position: relative;
      h3 {
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        background: linear-gradient(to top, #000, transparent);
        padding: 50px 20px 20px 20px;
      }
      img {
        width: 100%;
      }
    }
  }
}

.movie {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-size: cover;
    opacity: .3;
    z-index: -1;
    &::before{
      content: '';
      background: linear-gradient(to bottom, transparent, #ddd);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .summary {
    font-size: 18px;
    color: #666;
    line-height: 1.7;
  }
}
